# XML
XMLmodels/pecos/xmc-base
XMLmodels/pecos/htc-base
XMLmodels/pecos/pytorch/
XMLmodels/pecos/test
XMLmodels/pecos/run_ensemble/models
XMLmodels/pecos/predictions
XMLmodels/pecos/trained-models
XMLmodels/pecos/.eggs
XMLmodels/pecos/libpecos.egg-info
XMLmodels/pecos**/__pycache__/
XMLmodels/pecos/_archive
XMLmodels/pecos/build
XMLmodels/pecospecos/core/libpecos_float32.cpython-39-x86_64-linux-gnu.so
XMLmodels/pecospecos/_version.py

# HTC
htc/hbgl/logs/
htc/hbgl/models/

htc/hbgl/scripts/*
!htc/hbgl/scripts/*.sh

htc/hbgl/data/**/*
!htc/hbgl/data/**/
!htc/hbgl/data/*/preprocess/**
htc/hbgl/data/*/preprocess/Meta-data/
!htc/hbgl/data/*/*.taxonomy
!htc/hbgl/data/rcv1/rcv1.topics.hier.expanded

# Python Virtual Environments
venv/
.venv/
env/
.env/
ENV/

# Global Python Cache (Ignores __pycache__ in any directory)
__pycache__/
*.py[cod]